
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: aquamarine;
        margin: 20px;
        .footer-item {
            ;
        }
    }